#header .col-md-6:first-child div p {
	margin-bottom:40px;
}
#header .col-md-6:last-child .wrapper {
	background:transparent url('../img/arrow-down.png') center top no-repeat;
}
#links .facebook {
	padding-top:120px;
}
#links .facebook h3 {
	margin-bottom:0;
	padding-bottom:0;
	height:30px;
}
#contact .wrapper {
	background-image:none;
}