body {
   background: #fff url('../img/background-3.jpg') no-repeat center top fixed;
   color:#1b1b1b;
}
	a {
	    color: #aaaeba;
	}
	a:hover,
	a:focus {
	    color: #fff;
	}
	h1, h2, h3, h4, h5, h6 { color: #1b1b1b; }
	hr {
	    border-color: #2d2e39;
	}
	hr.light {
	    border-color: #fff;
	}
	.btn-default {
	    border-color: #fff;
	    color: #222;
	    background-color: #fff;
	}
	.btn-default:hover,
	.btn-default:focus,
	.btn-default.focus,
	.btn-default:active,
	.btn-default.active,
	.open > .dropdown-toggle.btn-default {
	    border-color: #ededed;
	    color: #222;
	    background-color: #f2f2f2;
	}
	.btn-default.disabled,
	.btn-default[disabled],
	fieldset[disabled] .btn-default,
	.btn-default.disabled:hover,
	.btn-default[disabled]:hover,
	fieldset[disabled] .btn-default:hover,
	.btn-default.disabled:focus,
	.btn-default[disabled]:focus,
	fieldset[disabled] .btn-default:focus,
	.btn-default.disabled.focus,
	.btn-default[disabled].focus,
	fieldset[disabled] .btn-default.focus,
	.btn-default.disabled:active,
	.btn-default[disabled]:active,
	fieldset[disabled] .btn-default:active,
	.btn-default.disabled.active,
	.btn-default[disabled].active,
	fieldset[disabled] .btn-default.active {
	    border-color: #fff;
	    background-color: #fff;
	}
	.btn-default .badge {
	    color: #fff;
	    background-color: #222;
	}
	.btn-primary:hover,
	.btn-primary:focus,
	.btn-primary.focus,
	.btn-primary:active,
	.btn-primary.active,
	.open > .dropdown-toggle.btn-primary {
	    border-color: #ed431f;
	    color: #fff;
	    background-color: #ee4b28;
	}
	.btn-primary.disabled,
	.btn-primary[disabled],
	fieldset[disabled] .btn-primary,
	.btn-primary.disabled:hover,
	.btn-primary[disabled]:hover,
	fieldset[disabled] .btn-primary:hover,
	.btn-primary.disabled:focus,
	.btn-primary[disabled]:focus,
	fieldset[disabled] .btn-primary:focus,
	.btn-primary.disabled.focus,
	.btn-primary[disabled].focus,
	fieldset[disabled] .btn-primary.focus,
	.btn-primary.disabled:active,
	.btn-primary[disabled]:active,
	fieldset[disabled] .btn-primary:active,
	.btn-primary.disabled.active,
	.btn-primary[disabled].active,
	fieldset[disabled] .btn-primary.active {
	    border-color: #f05f40;
	    background-color: #f05f40;
	}
	.btn-primary .badge {
	    color: #f05f40;
	    background-color: #fff;
	}	
	.btn-primary {
		background-color: #2d2e39;
	}
	span.logo { color:#fff; }
	.list-header h1 {
	  color:#fff;
	}
	.navbar-default {
	    border-color: rgba(34,34,34,.05);
	    background-color: #fff;
	}
	#mainNav {
		border-color:#000;
		background-color:#1f1f1f;
		-webkit-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.75);
		box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.75);
	}
	.navbar-default .navbar-header .navbar-brand {
	    color: #f05f40;
	}
	.navbar-default .navbar-header .navbar-brand:hover,
	.navbar-default .navbar-header .navbar-brand:focus {
		color: #eb3812;
	}
	.navbar-default .nav > li>a,
	.navbar-default .nav>li>a:focus {
	    color: #666;
	}
	.navbar-default .nav > li>a:hover,
	.navbar-default .nav>li>a:focus:hover {
	    color: #fff;
	}
	.navbar-default .nav > li.active>a,
	.navbar-default .nav>li.active>a:focus {
	    color: #fff!important;
	    background-color: transparent;
	}
	header {
	    color:#fff;
	}	
	#links, footer {
		background: #333 url('../img/leather.jpg') top left repeat;
		color:#fff;
	}	
	.list-header {
		min-height:120px;
		background-color: #2d2e39;
		border:#2E2F35 solid 1px;
		text-align:center;
		color:#fff;
		box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.75);
	}
	#about .list-group {
		background: #2d2e39 url('../img/leather.jpg') top left repeat;
		border:#2E2F35 solid 1px;
		text-align:center;			
	}
	#about .list-group a {
		background-color:transparent;
		border-color:transparent;
	}
	section#about .content {
		border:#1d1d1d solid 1px;
		background-color:#fff;
		background: #fff url('../img/headers/header-about.jpg') no-repeat center top;
		text-shadow:none;
		-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
		box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
	}

	section#newest-artwork {
		background: #333 url('../img/leather.jpg') top left repeat;
	}	
		section#newest-artwork .container {
			background:transparent url('../img/shadow.png') no-repeat center bottom;			
		}
		.well {
			background-color:#999;
			overflow:hidden;
		}
		.panel {
			background-color:#666;
		}
		section#links h2 {
			color:#fff;
		}	
		section#links {
			background-color:#5c0a11;
			color:#fff;
		}
	section#contact {
		background-color: #444753;
	}	
	section#contact .container {
		background:transparent url('../img/shadow.png') no-repeat center bottom;
	}
	@media(min-width:768px) {
	    .navbar-default {
		border-color: rgba(255,255,255,.3);
		background-color: transparent;
	    }

	    .navbar-default .navbar-header .navbar-brand {
		color: #666;
	    }

	    .navbar-default .navbar-header .navbar-brand:hover,
	    .navbar-default .navbar-header .navbar-brand:focus {
		color: #1b1b1b;
	    }

	    .navbar-default .nav > li>a,
	    .navbar-default .nav>li>a:focus {
		color: #666;
	    }

	    .navbar-default .nav > li>a:hover,
	    .navbar-default .nav>li>a:focus:hover {
		color: #1b1b1b;
	    }

	    .navbar-default.affix {
		border-color: rgba(34,34,34,.05);
		background-color: #fff;
	    }

	    .navbar-default.affix .navbar-header .navbar-brand {
		font-size: 14px;
		color: #f05f40;
	    }

	    .navbar-default.affix .navbar-header .navbar-brand:hover,
	    .navbar-default.affix .navbar-header .navbar-brand:focus {
		color: #eb3812;
	    }

	    .navbar-default.affix .nav > li>a,
	    .navbar-default.affix .nav>li>a:focus {
		color: #222;
	    }

	    .navbar-default.affix .nav > li>a:hover,
	    .navbar-default.affix .nav>li>a:focus:hover {
		color: #f05f40;
	    }
	}
	header .header-content .header-content-inner p {	    
	    color: rgba(255,255,255,.7);
	}
	.portfolio-box .portfolio-box-caption {
	    color: #fff;
	    background: rgba(240,95,64,.9);
	}