#header {
	min-height:800px;
}

#header .col-md-6:last-child {
	position:relative;
	height:720px;
}
#header .col-md-6:last-child ul {

}
#header .col-md-6:last-child ul li { 
	float:left;
	width:100px;
	height:100px;
	overflow:hidden;
    	-ms-transform: rotate(45deg); /* IE 9 */
    	-webkit-transform: rotate(45deg); /* Safari */
    	transform: rotate(45deg);	
}

