# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
_resources/photos/processed/DSC02597.JPG
_resources/photos/processed/DSC02598.JPG
_resources/photos/processed/DSC02607.JPG
_resources/photos/processed/DSC02613.JPG
_resources/photos/processed/DSC02619.JPG
_resources/photos/processed/DSC02621.JPG
_resources/photos/processed/DSC02610.JPG
_resources/photos/processed/DSC02611.JPG
_resources/photos/processed/DSC02617.jpg
_resources/photos/processed/DSC02623.JPG
_resources/photos/processed/DSC02625.jpg
_resources/photos/processed/DSC02626.jpg
_resources/photos/processed/DSC02630.jpg
_resources/photos/processed/DSC02632.JPG
_resources/photos/processed/DSC02634.JPG
_resources/photos/processed/DSC02637.JPG
_resources/photos/processed/DSC02638.JPG
_resources/photos/processed/DSC02658.JPG
_resources/photos/processed/DSC02686.JPG
_resources/photos/processed/DSC02688.JPG
_resources/photos/processed/index.psd
_resources/photos/processed/never forget.jpg
_resources/photos/processed/header.psd
_resources/photos/art/11137910_910593495628971_447439246_n.jpg
_resources/photos/art/10549676_744259905635544_658360938_n.jpg
_resources/photos/art/10597406_619557711498092_1008996778_n.jpg
_resources/photos/art/10593280_361590997382955_1220847019_n.jpg
_resources/photos/art/10601779_954553844571721_402174396_n.jpg
_resources/photos/art/10624399_755056501206761_186518714_n.jpg
_resources/photos/art/10684337_1516723308567997_562180257_n.jpg
_resources/photos/art/10706933_1544967865746618_156048052_n.jpg
_resources/photos/art/10810017_392277120932615_1842366722_n.jpg
_resources/photos/art/10914549_785506434865622_1239314411_n.jpg
_resources/photos/art/10919522_1540323182884811_706076023_n.jpg
_resources/photos/art/11055742_772128519567710_456933701_n.jpg
_resources/photos/art/11098503_1599683986937183_1590355089_n.jpg
_resources/photos/art/11111309_1573615456235318_1695080740_n.jpg
_resources/photos/art/11137721_782689128505361_1299742221_n.jpg
_resources/photos/art/11199391_648082765324606_1104865355_n.jpg
_resources/photos/art/11264331_1451312321827988_288284074_n.jpg
_resources/photos/art/11326169_958216480907569_266678865_n.jpg
_resources/photos/art/11336175_834109946677200_428933247_n.jpg
_resources/photos/art/11358979_834706439957099_50923651_n.jpg
_resources/photos/art/11427465_1597236663888446_1380301175_n.jpg
_resources/photos/art/929249_301553590047790_320387879_n.jpg
_resources/ui-2.psd
_resources/ui-3.psd
_resources/photos/art/1.jpg
_resources/photos/art/11.jpg
_resources/photos/art/14.jpg
_resources/photos/art/16.jpg
_resources/photos/art/15.jpg
_resources/photos/art/18.jpg
_resources/photos/art/17.jpg
_resources/photos/art/20.jpg
_resources/photos/art/19.jpg
_resources/photos/art/12.jpg
_resources/photos/art/5.jpg
_resources/photos/art/10.jpg
_resources/photos/art/13.jpg
_resources/photos/art/22.jpg
_resources/photos/art/6.jpg
_resources/photos/art/8.jpg
_resources/photos/art/21.jpg
_resources/photos/art/2.jpg
_resources/photos/art/4.jpg
_resources/photos/art/7.jpg
_resources/photos/art/3.jpg
_resources/photos/art/9.jpg
